/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

.messageForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.headerR{
  text-align: center;
}

.messageBox{
  display: flex;
  justify-content: center;
  margin: 1rem;
  height: 5rem;
}

.phoneNumber{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.dateTime{
  display: flex;
  justify-content: center;
  margin-left: 3rem;
}

.sendButton{
  display: flex;
  align-items: center;
  margin: 1rem;
  margin-left: 2.5rem;
}

.react-datepicker__time-list{
  padding-left: 5px;
}

.react-datepicker__input-container{
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
